a{
    display: block;
}
body{
    background-image: url("educationbackground-image.jpg");
    height: 600px;
    background-position: top left;
    position: fixed;
    z-index: -2;
    
}
div{
    width: 255px;
    
}
a{  margin-top: 20px;
    height: 40px;
    width: 255px;
    background-color: #171d21;
    color: rgb(100, 241, 234);
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 2.5px solid transparent;
    border-radius: 10px;
    
}

.border:hover{
    border: 2.5px solid rgb(5, 249, 74);
    color: rgb(72, 236, 60);
}

