* {
    margin: 0px;
    padding: 0px;
}

.menu-box {
    width: 21%;
    position: fixed;
    height: 58px;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    border: 4px solid transparent;
    animation: anime 2s alternate infinite;

}

@keyframes anime {
    50% {
        border: 4px solid #6d8798;
    }
}


body {
    background-color: #252525;
}

.menu-box1 a {
    margin-top: 15px;
    color: white;
    text-align: center;
    font-size: 17px;


}
.menu-box1{
    border: 3px solid transparent;
}
.menu-box2{
    border: 3px solid transparent;
}
.menu-box3{
    border: 3px solid transparent;
}

.border:hover {
    border: 3px solid red;
    background-color:#1f1e1e ;

}
.border2:hover {
    border: 3px solid blue;

}
.border3:hover {
    border: 3px solid green;

}

/* log box*/
.log {
    width: 79%;

    height: 58px;
    position: fixed;
    right: 0px;
}

a {
    color: white;
    text-decoration: none;
}
a button{
    height: 50px;
    width: 65px;
    color: white;
    background-color: #252525;
}
a button:hover{
    background-color:#151414 ;
}
.log{
    color: aliceblue;

    
}
.log a{
    font-size: 20px;
    position: absolute;
    right: 10px;
    display: flex;
    margin-top: 15px;
   
}
.log a i{
    margin-left: 10px;
}
